<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <title>TRẠI XUÂN | CHỌN VAI TRÒ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 60px;
    }
    .box {
      border: 1px solid #ccc;
      border-radius: 12px;
      padding: 20px;
      margin: 15px auto;
      width: 260px;
      font-size: 18px;
      cursor: pointer;
    }
    .student { background: #e8f4ff; }
    .supervisor { background: #fff3e0; }
    a { text-decoration: none; color: black; }
  </style> -->
</head>

<body>

  <h2>TRẠI XUÂN | KHI TÔI 18</h2>
  <p>Vui lòng chọn vai trò của mình:</p>

  <button onclick="window.location.href='/hocsinh/thongtin'">
    <div class="box student">Học sinh</div>
  </button>


  <button onclick="window.location.href='/login'">
    <div class="box teacher">Giáo viên</div>
  </button>
</body>

</html>