<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <title>TRẠI XUÂN | GIÁO VIÊN</title>
</head>

<body>
  <h2>Giáo viên {{ user }}</h2>

  <button onclick="window.location.href='/map'" class="btn map">BẢN ĐỒ TRẠI XUÂN</button>
  <button onclick="window.location.href='/menu'" class="btn menu">MENU CỦA CÁC LỚP</button>
  <button onclick="window.location.href='/scan'" class="btn scan">QUÉT QR</button><br>

  <button onclick="window.location.href='/logout'" class="btn logout">ĐĂNG XUẤT</button>
</body>

</html>